<nav class="grey darken-3">
  <div class="nav-wrapper container">
    <!-- The data-target=mobile-demo triggers the show\hide of ul#mobile-demo -->
    <a href="#!" class="brand-logo center">StoryShare</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"> <i class="fas fa-bars"></i> </a>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/stories">Public Space</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </div>
</nav>